dist/
node_modules/
WebCola/compiledtypescript.js
website/doc
.tscachea
website/.baseDir.ts
website/examples/*.js
website/*.js*
.tscache
npm-debug.log
.vscode
src/**/*.js
src/**/*.map
test/**/*.js
test/**/*.map
/tmp