dist/
node_modules/
WebCola/compiledtypescript.js
WebCola/doc
.tscachea
WebCola/.baseDir.ts
WebCola/examples/*.js
WebCola/*.js*
.tscache
WebCola/test/npm-debug.log
WebCola/test/bundle.js
WebCola/test/apitests.js*
