dist/
node_modules/
WebCola/compiledtypescript.js
WebCola/doc
.tscachea
WebCola/.baseDir.ts
WebCola/examples/*.js
WebCola/*.js*
.tscache
npm-debug.log
.vscode
src/**/*.js
src/**/*.map
test/**/*.js
test/**/*.map