node_modules/
WebCola/compiledtypescript.js
WebCola/doc
WebCola/*.js.map
.tscachea
WebCola/.baseDir.ts
WebCola/examples/*.js
.tscache
WebCola/test/npm-debug.log
WebCola/test/bundle.js
WebCola/test/apitests.js
